<%- include('layouts/header.ejs') %>
<br>
<br>
<div class="container">   
  <br> 
  <div class="row">
    <div class="col text-center">
      <a href="/"> <img src="/gifs/pencil.gif" width="20%"> </a>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-5 text-center signupform p-5">
      <form action="/submitSignUp" method="post"> 
        <div class="panel" id="signup"><h1>Sign Up</h1> <br>
          <div class="form-group" style="text-align: left; font-weight:500">
            <label for="fname"> First Name</label>
            <input type="text" class="form-control mb-4" name="fname" aria-describedby="fname" placeholder="enter your first name" required> 
          </div>
          <div class="form-group" style="text-align: left; font-weight:500">
            <label for="lname"> Last Name</label>
            <input  type="text" class="form-control mb-4" name="lname" aria-describedby="lname" placeholder="enter your last name" required> 
          </div>
          <div class="form-group" style="text-align: left; font-weight:500">
            <label for="em"> Email Address</label>
            <input   type="email" class="form-control mb-4" name="userEmail" aria-describedby="email" placeholder="enter email" required> 
          </div>
          <div class="form-group" style="text-align: left; font-weight:500">
            <label for="pw"> Password</label>
            <input type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Contains at least one number, uppercase letter, lowercase letter, and be of at least 8 characters" class="form-control mb-4" name="userPassword" aria-describedby="password" placeholder="enter password" required>
          </div>
          <div class="form-group" style="text-align: left; font-weight:500">
            <label for="pwCheck"> Confirm Password</label>
            <input type="password" pattern="#userPassword" title="Passwords do not match" class="form-control mb-4" name="passwordConf" aria-describedby="passwordConf" placeholder="confirm password" required>
          </div>
            <div class="d-grid mb-4">
            <button class="btn btn-primary" type="submit">Sign Up</button>
            </div>
          </div>
   
            <a href="/logIn">Already a user? <span>Log in</span></a> <br>
            <a href="/">Cancel</a></div>
      </form>
  </div>
  </div> 
  </div>
<style>
  #message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}
</style>
  <div id="message">
    <h3>Password must contain the following:</h3>
    <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
    <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
    <p id="number" class="invalid">A <b>number</b></p>
    <p id="length" class="invalid">Minimum <b>8 characters</b></p>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  <script src="js/login.js"></script> 