<%- include('layouts/header.ejs') %>
<br>
<br>
<br>
<br>
<div class="container">
<br>
<div class="row">
    <div class="col text-center">
    <a> You've been signed up successfully! </a>
    </div>
</div>
<br>
<br>
<div class="row">
    <div class="col text-center">
    <a href="/" class="btn btn-primary">Go to Home </a>
    </div>
</div>
<br>
</div>